/* Assure que le body et le html utilisent toute la hauteur */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-size: 15px;
}

body {
    font-family: aaux-next, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/* En-tête fixe */
#header {
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid black;
    position: fixed;
    background-color: white;
}

#header h1 {
    font-family: aaux-next, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 10px;
    width: 80%;
    display: inline-block;
}

/* Layout principal */
#layout-container {
    display: flex;
    flex-direction: row; /* Les colonnes côte à côte */
    gap: 20px; /* Espacement horizontal entre les colonnes */
    height: calc(100vh - 0px); /* Hauteur totale moins le header */
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
}





/* Header "infrastructures-selector" */
#infrastructures-selector {
    /* background-color: #f9f9f9; 
    padding: 20px 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    box-sizing: border-box;  */
}

/* Label et select dans le header */
#infrastructures-selector label {
    font-size: 1em;
    font-weight: bold;
    color: #333;
}

#infrastructures-selector select {
    padding: 5px 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s ease;
}

#infrastructures-selector select:focus {
    border-color: #007bff; /* Met en surbrillance au focus */
}





#request-selector {
    border-bottom: 1px solid #9c9c9c;
    padding-bottom: 20px;
}

#infrastructures-selector {
    border-bottom: 1px solid #9c9c9c;
    padding-bottom: 20px;
}
#infrastructures-selector span {
    margin-right:10px;
}

/* Colonne des filtres */
#filters-column {
    flex: 2;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: calc(100vh - 40px);
    position: sticky;
    top: 20px; /* Fixe les filtres */
}

/* Colonne des résultats */
#results-column {
    flex: 3;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}



/* Style de request-text */
#request-text {
    background-color: white; 
    border: 1px solid #ccc;
    padding: 10px 15px; /* Espacement interne */
    margin-bottom: 15px; /* Espacement par rapport au bloc suivant */
    color: #555; /* Gris foncé pour un look doux */
    border-radius: 4px; /* Coins légèrement arrondis */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Ombre légère pour la profondeur */
    font-size: 0.9em; /* Taille de police légèrement réduite */
    line-height: 1.4; /* Espacement vertical pour plus de lisibilité */
    cursor: text;
    user-select: text;
}

/* Style spécifique pour le texte interne */
#request-text p {
    margin: 0; /* Retire les marges par défaut des paragraphes */
}

#request-text[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555; 
    font-style: italic; /* Texte en italique pour un effet de citation */
}

#request-text[placeholder]:empty:focus:before {
    content: "";
}

.disclaimer {
    font-size: 0.8em;
    color: #777;
}


/* Titres pour les sections */
h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

/* Compteur des résultats */
#result-count {
    font-size: 0.9em;
    color: #aaaaaa;
    margin-bottom: 10px;
    text-align: right;
}

/* Conteneur de recherche */
#search-container {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

/* Champ de recherche */
#keywordFilter {
    flex: 1;
    padding: 8px 12px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.2s ease;
}

#keywordFilter:focus {
    border-color: #007bff;
}

/* Bouton pour effacer */
#clear-search {
    background-color: transparent;
    color: #ccc;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    transition: color 0.2s ease;
}

#clear-search:hover {
    color: #777;
}

#filters-list h2 {
    display: inline-block; 
    
    
}

/* Bouton Clear selection */
/* #clear-selection {
    background-color: #e9ecef;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 0.8em;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    margin-bottom: 15px;
}

#clear-selection:hover {
    background-color: #d6d8db;
    color: #333;
} */

#clear-selection {
    color: #b6b6b6; /* Gris doux pour le texte */
    font-size: 0.85em;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s ease;
    
    display: inline-block;
    margin: 25px;
}

#clear-selection.active:hover {
    color: #333; /* Texte plus foncé au survol */
    text-decoration: underline;
}

#clear-selection.active {
    color: #646464;
}

/* Conteneur des checkboxes */
.checkbox-container {
    padding: 5px;
}

.checkbox-container:hover {
    background-color: #f1f1f1;
    border-radius: 4px;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);*/
} 

/* Positionnement et style des numéros grâce à data-number */
.checkbox-label::before {
    content: attr(data-number); /* Récupère l'attribut data-number */
    font-family: monospace; /* Police monospace pour largeur fixe */
    font-size: 0.7em; /* Taille réduite pour le numéro */
    display: inline-block; /* Aligne correctement avec le texte */
    vertical-align: baseline; /* Aligné sur la ligne de base */
    margin-right: 5px; /* Espacement entre le numéro et le texte */
    min-width: 20px; /* Largeur fixe pour les numéros, pour plus d'homogénéité */
    text-align: right; /* Alignement à droite dans l'espace réservé */
}

/* Alignement du texte avec Flexbox */
.checkbox-label {
    display: flex;
    align-items: baseline;
    gap: 4px; /* Espacement entre la case à cocher et le texte */
}

/* Style pour la case à cocher */
.checkbox {
    margin-top: 3px; /* Ajustement vertical pour la case */
}


#selected-keywords p {
    font-size: 0.8em;
    margin:0;
    color: #007bff;

}


/* Conteneur principal pour chaque résultat */

.service-result {
    background-color: #f4f4f4; /* Fond gris clair */
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    transition: background-color 0.2s ease, border-left 0.2s ease;
    /*border-left: 4px solid #007bff;*/ /* Barre bleue à gauche */
}

.service-result::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 8px solid #0073e6; /* Bleu pour le triangle */
    border-top: 8px solid #0073e6;
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top-left-radius: 4px; /* Arrondi pour s'adapter au coin */
}

.service-result:hover {
    /*background-color: #e9ecef;*/ /* Effet survol */
    
   /* cursor: pointer;*/
}

/* Grille pour organiser le pourcentage et le contenu */
.service-grid {
    /*display: grid;*/
    /*grid-template-columns: 60px auto;*/ /* Première colonne fixe, seconde flexible */
    /*gap: 8px;*/ /* Espacement horizontal */
    /*align-items: center;*/ /* Centre verticalement les contenus */
}

/* Style pour le pourcentage */
.service-percentage {
    display: none;
    font-weight: bold;
    font-size: 1.3em; /* Taille légèrement agrandie */
    color: #007bff; /* Couleur bleue pour attirer l'œil */
    text-align: center;
}

/* Conteneur pour ID et description */
.service-content {
    /*display: flex;
    flex-direction: column;*/ /* Aligne ID et description en colonne */
    gap: 4px; /* Espacement vertical */
}

/* Style de l'ID */
.service-id {
    font-size: 0.8em;
    color: #777; /* Gris clair */
}



.service-type {
    display: flex;
    flex-wrap: wrap;
    gap: 6px; /* Réduction de l’espacement entre les tags */
    margin-bottom: 10px;
}

.service-type span {
    display: inline-block;
    background-color: #ffffff; /* Fond blanc pour contraster */
    color: #444; /* Gris foncé mais pas trop marqué */
    font-size: 12px; /* Réduction de la taille du texte */
    padding: 3px 8px; /* Réduction du padding pour un format plus compact */
    border-radius: 3px; /* Légèrement moins arrondi */
    font-weight: 500;
    cursor: default;
    user-select: none;
    white-space: nowrap;
    border: 1px solid rgba(0, 0, 0, 0.12); /* Bordure fine pour la distinction */
}

.service-name {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 5px;
}

.service-reginfra {margin-bottom: 10px;}

/* Style de la description */
.service-description {
    font-size: 1em;
    color: #000000; /* Noir plus doux pour la lisibilité */
    line-height: 1.4; /* Espacement vertical amélioré */
    margin-bottom: 10px;
   
}

.service-output {
    line-height: 1.4; /* Aération du texte */
    font-size: 0.75em;
}

.service-url {
    font-size: 0.75em;
    color: #414141; /* Noir légèrement adouci */
    text-decoration: none;
    font-style: italic; /* Ajoute une touche différenciante sans ressembler à un bouton */
    word-break: break-word;
    text-decoration: underline;
    letter-spacing: 0.02em;
    line-height: 1.4; /* Aération du texte */
}

.service-url:hover {
    text-decoration: underline; /* Souligne uniquement au survol */
    color: black; /* Bleu légèrement plus foncé au hover */
}

.service-url a {
    color: black; /* Bleu légèrement plus foncé au hover */
}

.service-url:empty {
    display: none;
}
/* Masquer complètement l'élément s'il est vide */
.service-url:empty {
    display: none;
}

.service-contact {
    font-size: 0.75em; /* Taille compacte pour le texte principal */
    color: #000000; /* Gris foncé pour une bonne lisibilité */
    line-height: 1.4; /* Aération du texte */
    margin-bottom: 10px;
}

.service-contact span {
    display: block; /* Passe sur une nouvelle ligne */
    font-size: 10px; /* Texte plus petit */
    text-transform: uppercase; /* Met en majuscules */
    color: #000000; /* Un peu plus clair que le texte principal */
}

.service-contact:empty {
    display: none;
}

.service-explanation {
    padding-top: 10px;
    font-style: italic;
    color: #9f9f9f;
    border-top: 2px solid white;
    font-size: 0.8em;
    margin-top: 10px;
}

.service-explanation:empty {
    padding-top: 0;
}

.service-keywords .active {
    color: #007bff;
}



.service-keywords {
    margin-top: 10px;
    font-size: 0.6em;
    color: #9d9d9d;
}


/*menus déroulants*/

/* Style général pour les menus déroulants */
select {
    appearance: none; /* Supprime le style par défaut du navigateur */
    background-color: #ffffff; /* Fond blanc */
    border: 1px solid #ccc; /* Bordure grise */
    border-radius: 4px; /* Coins légèrement arrondis */
    padding: 8px 12px; /* Espacement interne */
    font-size: 1em; /* Taille de police */
    color: #333; /* Couleur du texte */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Ombre légère */
    outline: none; /* Retire le contour bleu au focus */
    transition: border-color 0.2s ease, box-shadow 0.2s ease; /* Effet au survol */
    cursor: pointer;
}

/* Style au survol */
select:hover {
    border-color: #007bff; /* Bordure bleue au survol */
}

/* Style au focus */
select:focus {
    border-color: #007bff; /* Bordure bleue au focus */
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5); /* Ombre bleue */
}

/* Style des options du menu déroulant */
select option {
    background-color: #ffffff; /* Fond blanc */
    color: #333; /* Texte noir */
    font-size: 1em;
    padding: 5px;
}

/* Conteneur des menus pour un alignement propre */

#request-selector label {
    margin-right: 10px; /* Espacement entre le label et le select */
    white-space: nowrap; /* Empêche le label de passer à la ligne */
    display: inline-block;
    vertical-align: middle;
    font-size: 0.9em;
}

#request-selector select {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.9em;
    margin-right: 15px;
}

#infrastructures-selector select {
    width: 100px; /* Prend toute la largeur */
}

#infrastructures-selector h3  {display: inline-block; margin-right: 10px;}

/* Label des menus pour cohérence */
/* label {
    font-size: 1em;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    display: block;
} */

select {
    position: relative;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23007bff' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    padding-right: 30px; /* Laisse de la place pour la flèche */
}




.infra-btn {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.9em;
    cursor: pointer;
    color: #333;
    transition: all 0.2s ease;
    margin-right: 5px;
}

.infra-btn:hover {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.infra-btn.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

tspan.is-keyword {
    color: #007bff;
    /*text-decoration: underline;*/
}

/* switch toggle explanation */

.explanationtoggle {
    display: inline-block; 
    margin-right: 10px;
    font-size: 0.9em;
    margin-top: 10px;
}
.explanationtoggle .togglelabel {
    padding-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";  
    height: 17px;
    width: 17px;
    left: 3px;
    bottom: 3px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #0073e6;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #0073e6;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 22px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }